.at-avatar {
    background: none !important;
}
.at-fab {
    float: right !important;
    margin-right: 30px !important;
    background: #0876e4 !important;
    box-shadow: 0 6rpx 10rpx -2rpx rgba(0, 0, 0, 0.2), 0 12rpx 20rpx 0 rgba(0, 0, 0, 0.08), 0 2rpx 36rpx 0 rgba(0, 0, 0, 0.05);
}