.at-avatar {
  background: none !important;
}

.at-fab {
  float: right !important;
  margin-right: 30px !important;
  background: #0876e4 !important;
  box-shadow: none !important;
}

.float-btn-wrap {
  overflow: hidden;
  position: fixed;
  bottom: 120px;
  right: 30px;
}

.at-form::after {
  border: none !important;
}

.primary-btn {
  background-color: #0876e4 !important;
  border: 1px solid #0876e4 !important;
}

.login-btn, .save-btn {
  margin-top: 50px !important;
  color: #fff !important;
}

.register-btn {
  margin-top: 30px !important;
}
